<app-nav-bar></app-nav-bar>
<br>
<div class="text-center">
    <div *ngIf="yaCargo()" class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem; position: fixed; top: 50%; right: 50%; z-index: 7000;">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<body>
    <div class="container separador">
        <div class="row justify-content-center">
            <div class="card" style="width: 870px">
                <div class="card-body">
                    <h2 class="row justify-content-center">Formato asesoria</h2>
                    <br>
                    <form *ngIf="selectEstudiante.value!=0">
                        <div class="row">
                            <div class="col">
                                <label><Strong><label id="lbl">*</label>Nombre del estudiante</Strong>
                                </label>
                                <input class="form-control" id="input" type="text" name="NOMBRE" #name="ngModel" [(ngModel)]="asesoriaService.estudiantesFilter.NOMBRE" disabled>
                            </div>
                            <div class="col">
                                <label><Strong><label id="lbl">*</label>Apellido del estudiante</Strong>
                                </label>
                                <input class="form-control" id="input" type="text" name="APELLIDO" #name="ngModel" [(ngModel)]="asesoriaService.estudiantesFilter.APELLIDO" disabled>
                            </div>
                        </div>
                        <br>
                        <div class="row col-12">
                            <label><Strong><label id="lbl">*</label>Facultad del estudiante</Strong>
                            </label>
                            <input class="form-control" id="input" type="text" name="FACULTAD" value={{this.nombreFacultad(asesoriaService.estudiantesFilter.FACULTAD_ID_FACULTAD)}} disabled>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col">
                                <label><Strong><label id="lbl">*</label>Semestre del estudiante</Strong>
                                </label>
                                <input class="form-control" id="input" type="text" name="SEMESTRE" #name="ngModel" [(ngModel)]="asesoriaService.estudiantesFilter.SEMESTRE" disabled>
                            </div>
                            <div class="col">
                                <label><Strong><label id="lbl">*</label>Jornada del estudiante</Strong>
                                </label>
                                <input class="form-control" id="input" type="text" name="JORNADA" value={{this.nombreJornada(asesoriaService.estudiantesFilter.JORNADA_ID_JORNADA)}} disabled>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col">
                                <label><Strong><label id="lbl">*</label>Correo del estudiante</Strong>
                                </label>
                                <input class="form-control" id="input" type="text" name="CORREO" #name="ngModel" [(ngModel)]="asesoriaService.estudiantesFilter.CORREO" disabled>
                            </div>
                            <div class="col">
                                <label><Strong><label id="lbl">*</label>Celular del estudiante</Strong>
                                </label>
                                <input class="form-control" id="input" type="text" name="CELULAR" #name="ngModel" [(ngModel)]="asesoriaService.estudiantesFilter.CELULAR" disabled>
                            </div>
                        </div>
                    </form>
                    <br>
                    <form [formGroup]="asesoriaForm" novalidate>
                        <div class="form-label-group">
                            <label><Strong><label id="lbl">*</label>Estudiante</Strong>
                            </label>
                            <select id="select" class="form-control" name="estudiante" formControlName="estudiante" (change)="cambioEstudiante()" (click)="clickEstudiante();" #selectEstudiante>
                                <option value="" disabled>Seleccione un estudiante</option>
                                <option *ngFor="let estudiante of asesoriaService.estudiantes"
                                    value={{estudiante.ID_ESTUDIANTE}}>
                                    {{estudiante.NOMBRE}} {{estudiante.APELLIDO}}
                                </option>
                            </select>
                            <div *ngIf="asesoriaForm.get('estudiante').errors" class="alert alert-danger">
                                <div *ngIf="asesoriaForm.get('estudiante').errors['required']">
                                    Estudiante requerido
                                </div>
                            </div>
                        </div>
                        <br>

                        <div class="form-label-group">
                            <label><Strong><label id="lbl">*</label>Requerimiento de asesoria:</Strong>
                            </label>
                            <input type="text" class="form-control" name="ambito_social" placeholder="Describa el requerimiento de asesoria..." required formControlName="requerimiento_asesoria" maxlength="99">
                            <div *ngIf="asesoriaForm.get('requerimiento_asesoria').errors" class="alert alert-danger">
                                <div *ngIf="asesoriaForm.get('requerimiento_asesoria').errors['required']">
                                    Requerimiento de asesoria requerido
                                </div>
                            </div>
                        </div>
                        <br>

                        <div class="form-label-group">
                            <label><Strong><label id="lbl">*</label>Descripción de asesoria:</Strong>
                            </label>
                            <textarea type="text" class="form-control" name="descripcion_asesoria" placeholder="Describa la descripción de la asesoria..." required formControlName="descripcion_asesoria" maxlength="199"></textarea>
                            <div *ngIf="asesoriaForm.get('descripcion_asesoria').errors" class="alert alert-danger">
                                <div *ngIf="asesoriaForm.get('descripcion_asesoria').errors['required']">
                                    Descripción de asesoria requerido
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="form-label-group">
                            <label><Strong><label id="lbl">*</label>Resultado de asesoria:</Strong>
                            </label>
                            <textarea type="text" class="form-control" name="resultado_asesoria" placeholder="Describa el resultado de la asesoria..." required formControlName="resultado_asesoria" maxlength="99"></textarea>
                            <div *ngIf="asesoriaForm.get('resultado_asesoria').errors" class="alert alert-danger">
                                <div *ngIf="asesoriaForm.get('resultado_asesoria').errors['required']">
                                    Descripción de resultado asesoria requerido
                                </div>
                            </div>
                        </div>
                        <b>¿ requiere otra asesoria ? :</b>

                        <label class="switch">
                            <input #check type="checkbox" (change)="this.requiereAsesoria(check.checked)">
                            <span class="slider round">&nbsp; SI NO</span>
                        </label>
                        <div *ngIf="check.checked" class="form-label-group">
                            <label><Strong><label id="lbl">*</label>Asesoria requerida:</Strong>
                            </label>
                            <select id="select" class="form-control" name="tipo_asesoria" formControlName="asesoria_requerida">
                                <option value="" disabled>Seleccione un tipo de asesoria</option>
                                <option *ngFor="let tipo_asesoria of asesoriaService.asesorias"
                                    value={{tipo_asesoria.ID_TIPO_ASESORIA}}>
                                    {{tipo_asesoria.NOMBRE_TIPO_ASESORIA}}
                                </option>
                            </select>
                            <div *ngIf="asesoriaForm.get('asesoria_requerida').errors" class="alert alert-danger">
                                <div *ngIf="asesoriaForm.get('asesoria_requerida').errors['required']">
                                    Tipo de asesoria requerido
                                </div>
                            </div>
                        </div>

                    </form>
                    <hr>
                    <h5 class="row justify-content-center">Compromisos de asesoria</h5>
                    <br>
                    <hr style="width: 50%">

                    <br>
                    <div class="div" *ngIf="selectEstudiante.value!=0">
                        <form [formGroup]="compromisoForm" novalidate>
                            <div class="row">
                                <div class="col">
                                    <div class="form-label-group">
                                        <label><Strong>Actividad:</Strong>
                                        </label>
                                        <input type="text" class="form-control" name="actividad" placeholder="Actividad..." required formControlName="actividad" maxlength="99">

                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-label-group">
                                        <label><Strong>Fecha:</Strong>
                                        </label>
                                        <input type="date" class="form-control" name="fecha" required formControlName="fecha">
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="form-label-group">
                                <label><Strong>Observación:</Strong>
                                </label>
                                <input type="text" class="form-control" name="observacion" placeholder="Observaciones..." required formControlName="observacion" maxlength="199">

                            </div>
                            <br>
                            <div class="form-label-group">
                                <label><Strong>Responsable:</Strong></label>
                                <select id="select" class="form-control" name="responsable" formControlName="responsable">
                                    <option value="" disabled>Seleccione el responsable de la actividad</option>
                                    <option *ngFor="let responsable of this.asesoriaService.responsables"
                                        value={{responsable.id}}>
                                        {{responsable.actor}} : {{responsable.nombre}}
                                    </option>
                                </select>
                            </div>
                            <br>
                            <button [disabled]=!compromisoForm.valid (click)="addCompromiso(compromisoForm);" class="btn btn-outline-info">Agregar</button>

                        </form>

                        <br>
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Responsable</th>
                                    <th scope="col">Actividad</th>
                                    <th scope="col">Fecha</th>
                                    <th scope="col">Observaciones</th>
                                    <th scope="borrar">Borrar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let compromiso of this.asesoriaService.compromisos; let idx = index">
                                    <th scope="row">{{this.obtenerNombreResponsable(compromiso.ID_USUARIO)}}</th>
                                    <td>{{compromiso.ACTIVIDAD}}</td>
                                    <td>{{compromiso.FECHA}}</td>
                                    <td>{{compromiso.OBSERVACION}}</td>
                                    <td><button (click)="this.borrarCompromiso(idx)" class="btn btn-outline-danger" type="button"><i class="material-icons">delete</i></button></td>
                                </tr>

                            </tbody>
                        </table>

                        <hr style="width: 50%">

                    </div>
                    <div class="form-label-group">
                        <button [disabled]="!asesoriaForm.valid" (click)="enviarFormato(asesoriaForm)" class="btn btn-block" id="btnRegister" type="button">Guardar</button>
                        <button (click)="resetForm()" class="btn btn-block" id="btnBack" type="button">Limpiar</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <br>
</body>