<app-nav-bar></app-nav-bar>
<br>

<div class="text-center">
  <div *ngIf="yaCargo()" class="spinner-border text-primary" role="status"
    style="width: 3rem; height: 3rem; position: fixed; top: 50%; right: 50%; z-index: 7000;">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<body>
  <div class="container separador">
    <div class="row justify-content-center">
      <div class="card" style="width: 700px">
        <div class="card-body">
          <h2 class="row justify-content-center">Subir archivo de: {{TipoArchivo}}</h2>
          <br>
          <hr>
          <div *ngIf="existe">
            <p class="download">Ya existe un archivo de ese tipo para el proyecto seleccionado, si desea descargarlo haga click <a href="{{URLPublica}}" target="_blank">aqui.</a></p>
          </div>
          <form [formGroup]="archivoForm">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="customFileLang" lang="es" name="archivo"
                accept=".docx, .doc" formControlName="archivo" (change)="cambioArchivo($event)">
              <label class="custom-file-label" for="customFileLang">{{mensajeArchivo}}</label>
            </div>
            <br>
            <div *ngIf="archivoForm.get('archivo').errors" class="alert alert-danger">
              <div *ngIf="archivoForm.get('archivo').errors['required']">
                Archivo requerido
              </div>
            </div>
            <div *ngIf="errorNombre && !archivoForm.get('archivo').errors" class="alert alert-danger">
              Archivo incorrecto, solo se aceptan archivos de tipo Word (.docx, .doc)
            </div>
            <hr>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0"
                aria-valuemin="0" aria-valuemax="100" style="width: 0%" #progreso></div>
            </div>
            <br>
            <button [disabled]="!archivoForm.valid || (porcentaje > 0 && porcentaje < 100) || errorNombre"
              (click)="confirmarArchivo()" class="btn btn-block" id="btnLogin">Subir archivo</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>