<app-nav-bar>
</app-nav-bar>
<div class="container">
    <div class="row">
        <div class="col-12">
            <section class="py-5">
                <div class="container">
                    <h1 class="font-weight-light">¡Bienvenidos al consultorio social empresarial de la USTA! </h1>
                </div>
            </section>

            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>

                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active" style="background-image: url('https://proyeccionsocial.usta.edu.co/images/bt-shortcode/upload/CONSULTORIO_SOCIAL_EMPRESARIAL.png')">

                    </div>

                    <div class="carousel-item" style="background-image: url('https://proyeccionsocial.usta.edu.co/images/bt-shortcode/upload/MAILING_CONSULTORIO_SOCIAL_EMPRESARIAL.png')">

                    </div>


                </div>

                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>

                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <section class="py-5">
                <div class="container">
                    <h3>MISIÓN</h3>
                    <p class="lead"> El Consultorio Social Empresarial CSE de la Universidad Santo Tomás, trabaja por el bienestar social y la generación de iniciativas empresariales, a través de programas y/o actividades de emprendimiento y desarrollo socio empresarial,
                        asesoría, acompañamiento en creación de empresas y estructuración de proyectos sociales, mediante un ecosistema adecuado para el aprendizaje y fomento de competencias de gestión organizacional, que fomente la productividad, competitividad
                        y calidad de vida.</p>
                </div>
                <br>
                <div class="container">
                    <h3>VISIÓN</h3>
                    <p class="lead"> Para el año 2027, el Consultorio Social Empresarial CSE de la Universidad Santo Tomás, se consolidará a nivel local, regional y nacional, como un centro estratégico que promueve el bienestar social y la competitividad empresarial mediante
                        programas y/o asesorías a la medida que fomenten el emprendimiento y brinden acompañamiento en la generación de ideas innovadoras y la puesta e marcha de proyectos sociales y empresariales.</p>
                </div>
                <br>
                <div class="container">
                    <h3>OBJETIVO GENERAL</h3>
                    <p class="lead">Contribuir e impulsar la transformación de ideas empresariales y sociales en proyectos de impacto local y nacional a través de la generación de unidades productivas y/o proyectos de emprendimiento social, fomentando la sostenibilidad
                        y perdurabilidad de las organizaciones, a través de un portafolio integral de servicios a la comunidad universitaria. </p>
                </div>
                <br>
                <div class="container">
                    <h3>OBJETIVOS ESPECIFICOS</h3>
                    <ul>
                        <li>Generar una cultura de emprendimiento en la USTA que fortalezca el potencial y las competencias emprendedoras en la comunidad académica.</li>
                        <li>Identificar y fomentar ideas, planes y opciones de negocio de la comunidad universitaria.</li>
                        <li>Fomentar la presentación de proyectos a convocatorias a nivel local, nacional e internacional de capital semilla.</li>
                        <li>Acompañamiento en la estructuración de proyectos de emprendimiento e innovación social.</li>
                    </ul>
                </div>

            </section>

        </div>
    </div>
</div>