<app-nav-bar></app-nav-bar>
<br>
<div  class="text-center">
    <div *ngIf="yaCargo()" class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem; position: fixed; top: 50%; right: 50%; z-index: 7000;">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
<body>
    <div class="container separador">
      <div class="row justify-content-center">
        <div class="card" style="width: 700px">
          <div class="card-body">
            <h2 class="row justify-content-center">Formato diagnostico</h2>
            <br>  
            <form *ngIf="selectEstudiante.value!=0">
              <div class="row">
                <div class="col">
                  <label><Strong><label id="lbl">*</label>Nombre del estudiante</Strong></label>
                  <input class="form-control" id="input" type="text" name="NOMBRE" #name="ngModel"
                    [(ngModel)]="diagnosticoService.estudiantesFilter.NOMBRE"  disabled>
                </div>
                <div class="col">
                  <label><Strong><label id="lbl">*</label>Apellido del estudiante</Strong></label>
                  <input class="form-control" id="input" type="text" name="APELLIDO" #name="ngModel"
                    [(ngModel)]="diagnosticoService.estudiantesFilter.APELLIDO" disabled>
                </div>
              </div>  
              <br>
              <div class="row col-12">
                <label><Strong><label id="lbl">*</label>Facultad del estudiante</Strong></label>
                <input class="form-control" id="input" type="text" name="FACULTAD" 
                  value={{this.nombreFacultad(diagnosticoService.estudiantesFilter.FACULTAD_ID_FACULTAD)}} disabled>
              </div>
              <br>
              <div class="row">
                <div class="col">
                  <label><Strong><label id="lbl">*</label>Semestre del estudiante</Strong></label>
                  <input class="form-control" id="input" type="text" name="SEMESTRE" #name="ngModel"
                    [(ngModel)]="diagnosticoService.estudiantesFilter.SEMESTRE"  disabled>
                </div>
                <div class="col">
                  <label><Strong><label id="lbl">*</label>Jornada del estudiante</Strong></label>
                  <input class="form-control" id="input" type="text" name="JORNADA" 
                    value={{this.nombreJornada(diagnosticoService.estudiantesFilter.JORNADA_ID_JORNADA)}} disabled>
                </div>
              </div>  
              <br>
              <div class="row">
                <div class="col">
                  <label><Strong><label id="lbl">*</label>Correo del estudiante</Strong></label>
                  <input class="form-control" id="input" type="text" name="CORREO" #name="ngModel"
                    [(ngModel)]="diagnosticoService.estudiantesFilter.CORREO"  disabled>
                </div>
                <div class="col">
                  <label><Strong><label id="lbl">*</label>Celular del estudiante</Strong></label>
                  <input class="form-control" id="input" type="text" name="CELULAR" #name="ngModel"
                    [(ngModel)]="diagnosticoService.estudiantesFilter.CELULAR" disabled>
                </div>
              </div>  
            </form>      
            <br>  
            <form [formGroup]="diagnosticoForm" novalidate>
              <div class="form-label-group">
                <label><Strong><label id="lbl">*</label>Estudiante</Strong></label>
                  <select id="select" class="form-control" name="estudiante" formControlName="estudiante" (change)="cambioEstudiante()" (click)="clickEstudiante()" #selectEstudiante> 
                    <option value="" disabled>Seleccione un estudiante</option>
                    <option *ngFor="let estudiante of diagnosticoService.estudiantes" value={{estudiante.ID_ESTUDIANTE}}>
                      {{estudiante.NOMBRE}} {{estudiante.APELLIDO}}
                    </option>
                  </select>
                  <div *ngIf="diagnosticoForm.get('estudiante').errors" class="alert alert-danger">
                      <div *ngIf="diagnosticoForm.get('estudiante').errors['required']">
                        Estudiante requerido
                      </div>
                    </div>
              </div> 
              <br>             
              <div class="row">
                <div class="col">
                  <div class="form-label-group">
                    <label><Strong><label id="lbl">*</label>Etapa del proyecto</Strong></label>
                      <select id="select" class="form-control" name="etapa_proyecto" formControlName="etapa_proyecto"> 
                        <option value="" disabled>Seleccione la etapa del proyecto</option>
                        <option *ngFor="let etapa of diagnosticoService.etapas" value={{etapa.ID_ETAPA}}>
                          {{etapa.NOMBRE_ETAPA}} 
                        </option>
                      </select>
                      <div *ngIf="diagnosticoForm.get('etapa_proyecto').errors" class="alert alert-danger">
                          <div *ngIf="diagnosticoForm.get('etapa_proyecto').errors['required']">
                            Etapa del proyecto requerida
                          </div>
                        </div>
                  </div>
              </div>
              <div class="col">
                <div class="form-label-group">
                  <label><Strong><label id="lbl">*</label>Sector del proyecto</Strong></label>
                    <select id="select" class="form-control" name="sector_proyecto" formControlName="sector_proyecto"> 
                      <option value="" disabled>Seleccione el sector del proyecto</option>
                      <option *ngFor="let sector of diagnosticoService.sectores" value={{sector.ID_SECTOR}}>
                        {{sector.NOMBRE_SECTOR}} 
                      </option>
                    </select>
                    <div *ngIf="diagnosticoForm.get('sector_proyecto').errors" class="alert alert-danger">
                        <div *ngIf="diagnosticoForm.get('sector_proyecto').errors['required']">
                          Sector del proyecto requerido
                        </div>
                      </div>
                </div>
              </div>
            </div>       
            <br>       
              <div class="form-label-group">
                <label><Strong><label id="lbl">*</label>Sector Económico y/o ámbito social:</Strong></label>
                <input  type="text" class="form-control" name="ambito_social" placeholder="Ingrese su sector Económico y/o ámbito social"  required formControlName="ambito_social" maxlength="99">
                <div *ngIf="diagnosticoForm.get('ambito_social').errors" class="alert alert-danger">
                    <div *ngIf="diagnosticoForm.get('ambito_social').errors['required']">
                      Sector Económico y/o ámbito social requerido
                    </div>
                  </div>
              </div>
              <br>
              <div class="form-label-group">
                <label><Strong><label id="lbl">*</label>Descripción del proyecto:</Strong></label>
                <textarea  type="text" class="form-control" name="descripcion_proyecto" placeholder="Ingrese la descripción del proyecto"  required formControlName="descripcion_proyecto" maxlength="199"></textarea>
                <div *ngIf="diagnosticoForm.get('descripcion_proyecto').errors" class="alert alert-danger">
                    <div *ngIf="diagnosticoForm.get('descripcion_proyecto').errors['required']">
                      Descripción del proyecto requerido
                    </div>
                  </div>
              </div>
              <div class="form-label-group">
                  <label><Strong><label id="lbl">*</label>¿Cuenta con plan de negocios o modelo de negocios definido?</Strong></label>                  
                  <label class="switch">                
                    <input type="checkbox" #slider (change)="cambioSlider()">
                    <span class="slider round"></span> 
                  </label>
              </div>
              <div *ngIf="negocio">
                <form [formGroup]="negocioForm" novalidate>
                  <div class="form-label-group" >
                      <label><Strong><label id="lbl">*</label>Socios clave:</Strong></label>
                      <input type="text" class="form-control" name="socios_clave" placeholder="Ingrese los socios clave"  required formControlName="socios_clave" maxlength="99">
                      <div *ngIf="negocioForm.get('socios_clave').errors" class="alert alert-danger">
                          <div *ngIf="negocioForm.get('socios_clave').errors['required']">
                            Socios clave requeridos
                          </div>
                        </div>
                  </div>
                  <br>
                  <div class="form-label-group" >
                      <label><Strong><label id="lbl">*</label>Actividades clave:</Strong></label>
                      <input  type="text" class="form-control" name="actividades_clave" placeholder="Ingrese las actividades clave"  required formControlName="actividades_clave" maxlength="99">
                      <div *ngIf="negocioForm.get('actividades_clave').errors" class="alert alert-danger">
                          <div *ngIf="negocioForm.get('actividades_clave').errors['required']">
                            Actividades clave requeridos
                          </div>
                        </div>
                  </div>
                  <br>
                  <div class="form-label-group" >
                      <label><Strong><label id="lbl">*</label>Recursos clave:</Strong></label>
                      <input  type="text" class="form-control" name="recursos_clave" placeholder="Ingrese los recursos clave"  required formControlName="recursos_clave" maxlength="99">
                      <div *ngIf="negocioForm.get('recursos_clave').errors" class="alert alert-danger">
                          <div *ngIf="negocioForm.get('recursos_clave').errors['required']">
                            Recursos clave requeridos
                          </div>
                        </div>
                  </div>
                  <br>
                  <div class="form-label-group" >
                      <label><Strong><label id="lbl">*</label>Propuesta de valor:</Strong></label>
                      <input  type="text" class="form-control" name="propuesta_valor" placeholder="Ingrese la propuesta de valor"  required formControlName="propuesta_valor" maxlength="199">
                      <div *ngIf="negocioForm.get('propuesta_valor').errors" class="alert alert-danger">
                          <div *ngIf="negocioForm.get('propuesta_valor').errors['required']">
                            Propuesta de valor requerida
                          </div>
                        </div>
                  </div>
                  <br>
                  <div class="form-label-group" >
                      <label><Strong><label id="lbl">*</label>Relacion con clientes:</Strong></label>
                      <input  type="text" class="form-control" name="relacion_clientes" placeholder="Ingrese la relacion con clientes"  required formControlName="relacion_clientes" maxlength="99">
                      <div *ngIf="negocioForm.get('relacion_clientes').errors" class="alert alert-danger">
                          <div *ngIf="negocioForm.get('relacion_clientes').errors['required']">
                            Relacion con clientes requerida
                          </div>
                        </div>
                  </div>
                  <br>
                  <div class="form-label-group" >
                      <label><Strong><label id="lbl">*</label>Canales:</Strong></label>
                      <input  type="text" class="form-control" name="canales" placeholder="Ingrese los canales"  required formControlName="canales" maxlength="99">
                      <div *ngIf="negocioForm.get('canales').errors" class="alert alert-danger">
                          <div *ngIf="negocioForm.get('canales').errors['required']">
                            Canales requeridos
                          </div>
                        </div>
                  </div>
                  <br>
                  <div class="form-label-group" >
                      <label><Strong><label id="lbl">*</label>Segmentos de clientes:</Strong></label>
                      <input  type="text" class="form-control" name="segmentos_clientes" placeholder="Ingrese los segmentos de clientes"  required formControlName="segmentos_clientes" maxlength="99">
                      <div *ngIf="negocioForm.get('segmentos_clientes').errors" class="alert alert-danger">
                          <div *ngIf="negocioForm.get('segmentos_clientes').errors['required']">
                            Segmentos de clientes requeridos
                          </div>
                        </div>
                  </div>
                  <br>
                  <div class="form-label-group" >
                      <label><Strong><label id="lbl">*</label>Estructura de costos:</Strong></label>
                      <input  type="text" class="form-control" name="estructura_costos" placeholder="Ingrese la estructura de costos"  required formControlName="estructura_costos" maxlength="99">
                      <div *ngIf="negocioForm.get('estructura_costos').errors" class="alert alert-danger">
                          <div *ngIf="negocioForm.get('estructura_costos').errors['required']">
                            Estructura de costos requerida
                          </div>
                        </div>
                  </div>
                  <br>
                  <div class="form-label-group" >
                      <label><Strong><label id="lbl">*</label>Fuente de ingresos:</Strong></label>
                      <input  type="text" class="form-control" name="fuente_ingresos" placeholder="Ingrese la fuente de ingresos"  required formControlName="fuente_ingresos" maxlength="99">
                      <div *ngIf="negocioForm.get('fuente_ingresos').errors" class="alert alert-danger">
                          <div *ngIf="negocioForm.get('fuente_ingresos').errors['required']">
                            Fuente de ingresos requerida
                          </div>
                        </div>
                  </div>            
                </form>  
              </div>
              <div class="form-label-group">
                  <label><Strong><label id="lbl">*</label>Asesoria requerida</Strong></label>
                    <select id="select" class="form-control" name="tipo_asesoria" formControlName="tipo_asesoria"> 
                      <option value="" disabled>Seleccione un tipo de asesoria</option>
                      <option *ngFor="let tipo_asesoria of diagnosticoService.asesorias" value={{tipo_asesoria.ID_TIPO_ASESORIA}}>
                        {{tipo_asesoria.NOMBRE_TIPO_ASESORIA}}
                      </option>
                    </select>
                    <div *ngIf="diagnosticoForm.get('tipo_asesoria').errors" class="alert alert-danger">
                        <div *ngIf="diagnosticoForm.get('tipo_asesoria').errors['required']">
                          Tipo de asesoria requerido
                        </div>
                      </div>
                </div> 
            </form>
            <br>
              <div class="form-label-group" >        
                <button *ngIf="negocio==false" [disabled]="!diagnosticoForm.valid" (click)="guardarDiagnostico(diagnosticoForm, negocioForm)" class="btn btn-block" id="btnRegister" type="button">Guardar</button>                
                <button *ngIf="negocio==true" [disabled]="!diagnosticoForm.valid || !negocioForm.valid" (click)="guardarDiagnostico(diagnosticoForm, negocioForm)" class="btn btn-block" id="btnRegister" type="button">Guardar</button>                
                <button (click)="resetForm()" class="btn btn-block" id="btnBack" type="button">Limpiar</button>                
              </div> 
          </div>
        </div>
      </div>
    </div>
  </body>