<app-nav-bar></app-nav-bar>
<br>

<div class="text-center">
    <div *ngIf="yaCargo()" class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem; position: fixed; top: 50%; right: 50%; z-index: 7000;">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<body>
    <div class="container separador">
        <div class="row justify-content-center">
            <div class="card" style="width: 700px">
                <div class="card-body">
                    <h2 class="row justify-content-center">Crear proyecto</h2>
                    <br>
                    <hr>
                    <div *ngIf="existeOficial">
                        <p class="download">Para descargar el documento oficial del formato proyecto en blanco haga click <a href="{{URLOficial}}" target="_blank">aqui.</a></p>
                    </div>
                    <hr>
                    <div *ngIf="existe">
                        <p class="download">Ya existe un archivo de ese tipo para el proyecto seleccionado, si desea descargarlo haga click <a href="{{URLPublica}}" target="_blank">aqui.</a></p>
                    </div>
                    <form [formGroup]="archivoForm">
                        <div class="form-label-group">
                            <label><label id="lbl"></label>Proyecto*</label>
                            <input type="text" class="form-control" name="proyecto" placeholder="Ingrese el nombre del proyecto" autofocus required formControlName="proyecto" maxlength="99" #proyecto (keyup)="cambioNombre(documento.value, proyecto.value)">
                            <div *ngIf="archivoForm.get('proyecto').errors" class="alert alert-danger">
                                <div *ngIf="archivoForm.get('proyecto').errors['required']">
                                    Proyecto requerido
                                </div>
                            </div>
                            <br>
                        </div>
                        <div class="form-label-group">
                            <label><label id="lbl"></label>Documento que debe subir:</label>
                            <input type="text" class="form-control" name="documento" disabled required #documento value="{{nombreDocumento}}">
                            <br>
                        </div>

                        <div class="form-label-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="customFileLang" lang="es" name="archivo" #archivo accept=".docx, .doc" formControlName="archivo" (change)="cambioArchivo($event)">
                                <label class="custom-file-label" for="customFileLang">{{mensajeArchivo}}</label>
                            </div>
                            <br>
                            <div *ngIf="archivoForm.get('archivo').errors" class="alert alert-danger">
                                <div *ngIf="archivoForm.get('archivo').errors['required']">
                                    Archivo requerido
                                </div>
                            </div>
                            <div *ngIf="errorNombre && !archivoForm.get('archivo').errors" class="alert alert-danger">
                                Archivo incorrecto, solo se aceptan archivos de tipo Word (.docx, .doc)
                            </div>
                        </div>
                        <hr>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%" #progreso></div>
                        </div>
                        <br>
                        <button [disabled]="!archivoForm.valid || (porcentaje > 0 && porcentaje < 100) || errorNombre" (click)="crearProyecto(archivoForm)" class="btn btn-block" id="btnLogin">Subir archivo</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>